*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

header{
    position: fixed;
    top: 0;
    right:  0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    background: transparent;
}

.logo{
    height: auto;
    width: 100%;
}

.navbar{
    display: flex;
}

.navbar a{
    padding: 5px;
    margin: 0 25px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: all ease .50s;
    border-bottom: 2px solid transparent;
}

.navbar a:hover{
    border-bottom: 2px solid #fff;
}

.navbar a.active{
    border-bottom: 2px solid #fff;
}

.nav-in{
    display: flex;
    align-items: center;
}

.nav-in a{
    color: #fff;
    font-size: 15px;
}

.btn{
    display: inline-block;
    padding: 9px 20px;
    background: transparent;
    border: 1px solid #fff;
    margin: 0 20px;
    border-radius: 8px;
    transition: all ease .50s;
}

.btn:hover{
    transform: scale(1.07);
    background: #11327b;
}

#menu-icon{
    font-size: 38px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 5px;
    display: none;
}

@media (max-width: 1440px) {
    header{
        padding: 25px 5%;
    }
}
@media (max-width: 1170px) {
    header{
        padding: 20px 3%;
    }
    .logo{
        width: 100%;
        max-width: 250px;
        height: auto;
    }
    .navbar a{
        margin: 0 15px;
    }
}
@media (max-width: 1030px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 70px 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: #54e0fd;
        transition: all 0.5s ease-in-out;
    }
    .navbar a{
        display: block;
        padding: 0;
        margin: 0px 0px 50px 0px;
        font-size: 2.1rem;
        font-weight: 500;
        border-bottom: none;
    }
    .navbar a:hover{
        color: #11327b;
        border-bottom: none;
    }
    .navbar a.active{
        border-bottom: none;
    }
    .navbar.open{
        left: 0;
    }
}

@media (max-width: 570px) {
    .logo{
        width: 100%;
        max-width: 200px;
        height: auto;
    }
    .nav-in a{
        display: none;
    }
}